h1 {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30px;
    left: 40%;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 100px;
    position: absolute;
    top: 100px;
    left: 28%;
}

/* .photo1 {
    position: absolute;
    left: 450px;
    top: 200px;
} */

.yellow {
    border:5px dashed yellow;
    background-color:black;
}

.container {
    position: relative;
    top: 200px;
    left: 10px;

}